html, body {
    height: 100%;
}
.navigation-bar {
    background-color:  #182054;
    padding-left: 1em;
}

.nav-link{
    color: white;
}


.jumbotron {
    background-image: url("img/Guayaquil\ .jpg");
    background-size: 100%;
    border-radius: 0;
}

.about {
    color:#182054;
}

.skills {
    padding: 1rem 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.skills li {
    width: 33%;
    margin: 1rem 0;
    font-size: large;
    list-style: none;
}

.projects,
footer {
    background-color:  #182054;
}

.projects {
    padding: 2rem 0 1rem 0;
}

.proj-filter {
    padding: 1rem;
}

.dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-toggle {
    background-color: blueviolet;
    border-color: blueviolet;
    width: 80%;
}

.filter-button-con {
    display: none;
    justify-content: center;
    padding-top: 1rem;
}

.filter-button {
    color: white;
    background: blueviolet;
    border-color: blueviolet;
    margin: 0 1rem;
    min-width: 10%;
}

.prog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.card {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}

.show {
    display: flex;
}

footer {
    padding: 2rem 1rem ;
    color: white;
    text-align: center;
    background-color: black;
}

.contacts {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.contacts a {
    color: white;
}

@media (min-width: 768px) {

.name {
    font-size: 5rem;
}

.prog-container {
    padding: 0 1rem;
}

.projects {
    padding-bottom: 3rem;
}

.about {
    margin-bottom: 1rem;
}

.me {
    margin: 1rem 0 2.5rem 0;
}

.skills{
    font-weight: bold;
    margin-bottom: 0;
}

.skills li {
    margin: 2rem 0;
}

.card {
    width: 45%;
    margin: .5rem;
}

.contacts {
    margin: 3rem 0 1rem 0;
}

}

@media (min-width: 992px) {

.me {
    font-size: larger;
    padding: 0 5rem;
}

.prog-container {
    padding: 1rem 0;
}

.dropdown {
    display: none;
}

.filter-button-con {
    display: flex;
}

.card {
    width: 40%;
    margin: 1rem;
}

.btn-primary {
    margin: 1rem 1rem 0.5rem 1rem;
}
}





